.p_list_cont {
  list-style: none;
  border: none;
  padding: 0;
  margin: 35px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(auto-fill, auto);
}
.p_list_i {
  color: unset;
  text-decoration: unset;
  text-align: unset;
}
@media (min-width: 320px) {
  .p_list_cont {
    margin: 35px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
}
@media (min-width: 768px) {
  .p_list_cont {
    margin: 35px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
}
@media (min-width: 1024px) {
  .p_list_cont {
    margin: 35px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
}
@media (min-width: 1440px) {
  .p_list_cont {
    margin: 35px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, auto);
  }
}
